{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="/" class="logo">Employee Management System</a>
            <!-- Hamburger Menu Button -->
            <div class="menu-btn" id="menu-btn">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="menu" id="menu">
                {% if request.session.username %}
                    <li><a href="{% url 'dashboard' %}">Home</a></li>
                    <li><a href="{% url 'employee_list' %}">Employee List</a></li>
                    <li><a href="{% url 'create_employee' %}">Create Employee</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <div id="main__content">
        {% block content %}
        {% endblock %}
    </div>

    <script>
        document.getElementById('menu-btn').addEventListener('click', function() {
            document.getElementById('menu').classList.toggle('active');
        });
    </script>
</body>
</html>
